<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HRapp</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>EMPLOYEE DATABASE</h1>
    <nav>
      <a href="/employees/new"><button>CLICK TO ADD NEW HIRE</button> </a>
    </nav>
    <div class="other">
      <h2>Departments:</h2>
      <a href="/employees/"><h2 class="filter">Management</h2></a>
      <a href=""><h2 class="filter">Accounting</h2></a>
      <a href=""><h2 class="filter">Finance</h2></a>
      <a href=""><h2 class="filter">HR</h2></a>
      <a href=""><h2 class="filter">Technology</h2></a>
      <a href=""><h2 class="filter">Sales</h2></a>
      <a href=""><h2 class="filter">Corp. Services</h2></a>
    </div>
    <div class="container">
      <%employees.forEach((employe, index)=>{%>
      <div class="empl">
        <div class="one">
          <a href="/employees/<%=employe.id%>">
            <img src="<%=employe.img%>" alt=""
          /></a>
        </div>
        <div class="two">
          <a href="/employees/<%=employe.id%>">
            <h2><%=employe.name%> <span><%=employe.lastname%></span></h2></a
          >
          <h5>Job: <%=employe.job%></h5>
          <h5>Department: <%=employe.department%></h5>
          <h5>Office: <%=employe.office%></h5>
          <h5>Phone: <%=employe.phone%></h5>
          <h5>Email: <%=employe.email%></h5>
          <form
            action="/employees/<%=employe.id%>?_method=DELETE"
            method="POST"
          >
            <input class="delete" type="submit" value="DELETE" />
          </form>
          <a class="edit" href="/employees/<%=employe.id%>/edit"
            ><input class="toedit" type="submit" value="EDIT"
          /></a>
        </div>
      </div>
      <%})%>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      charset="utf-8"
    ></script>
    <script src="js.js"></script>
  </body>
</html>
