<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Employee Page</title>
    <style>
      body {
        overflow: auto;
        color: steelblue;
      }
      .one {
        float: left;
        width: 21%;
        height: auto;
        overflow: auto;
      }
      img {
        width: 100%;
      }
      .container {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        flex-basis: 69%;
        overflow: auto;
      }
      h1 {
        text-align: center;
        background: steelblue;
        margin: 0 auto;
        padding: 20px;
        color: blanchedalmond;
      }
      h4 {
        text-align: left;
        margin: 4%;
      }
      .empl {
        width: 30%;
        height: auto;
        border: 1px solid black;
        margin: 1%;
      }

      footer {
        overflow: auto;
        clear: both;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Employee Profile</h1>
    <div class="one">
      <img src="<%=employee.img%>" alt="" />
    </div>
    <div class="container">
      <div class="empl">
        <h2>Demographic Data</h2>
        <h4><%=employee.name%> <span><%=employee.lastname%></span></h4>
        <h4>DOB:<%=employee.dob%></h4>
        <h4>Home Address:<%=employee.address%></h4>
        <h4>Phone: <%=employee.phone%></h4>
        <h4>Email: <%=employee.email%></h4>
      </div>
      <div class="empl">
        <h2>Functional Data</h2>
        <h4>Job: <%=employee.job%></h4>
        <h4>Department: <%=employee.department%></h4>
        <h4>Supervisor: <%=employee.supervisor%></h4>
        <h4>Office: <%=employee.office%></h4>
        <h4>Job Description: <%=employee.job_description%></h4>
      </div>
      <div class="empl">
        <h2>Compensation Data</h2>
        <h4>Salary: <%=employee.salary%></h4>
        <h4>Bonus: <%=employee.bonus%></h4>
        <h4>Vacation time: <%=employee.vacation%></h4>
        <h4>Email: <%=employee.email%></h4>
      </div>
    </div>
    <footer>
      <a href="/employees">Back to Employees Directory</a>
    </footer>
  </body>
</html>
